 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
  <h4>Contact me: <a href="mailto:imjayanthka@gmail.com">imjayanthka@gmail.com</a></h4>
</div>
<div class="user-details">
    <h1>My Expertise</h1>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Technologies</h2>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-express-original-wordmark"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
    </div>
</div>
