<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/nocinv.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> noCINV </h3>
    <ul>
      <li>Swift</li>
      <li>ResearchKit</li>
      <li>REDcap API</li>
    </ul>
    <p>A mobile application to be used under clinical setting to predict the onset of chemotherapy induced nausea and help doctors prescribe medication accordingly. It uses Apple’s ResearchKit framework to deliver a questionnaire and provide a probable outcome based on data decision tree</p>
    <a class="project-link" href="https://github.com/imjayanthka/noCINV">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/tigeraware.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> TigerAware </h3>
    <ul>
      <li> AngularJS</li>
      <li> Node.js</li>
      <li> Firebase</li>
    </ul>
    <p>TigerAware is realtime survey generation, deployment and analysis tool for campus researchers and administrators. TigerAware is built using Firebase as the backend service along with clients based on AngularJs, Swift and Java</p>
    <a class="project-link" href="https://github.com/MUDICL/tigerAware">Code Base</a>
    <a class="project-link" href="http://tigeraware.com">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/hackerrank.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> HackerRack Solutions </h3>
    <ul>
      <li> Python</li>
    </ul>
    <p>A work in progress repo of all my solutions to HackerRank problems</p>
    <a class="project-link" href="https://github.com/imjayanthka/hackerrank-solutions">Code Base</a>
  </div>
</div>
