<div class="user-details">
    <h1> Travel Log </h1>
</div>
<div id="worldmap" style="height: 500px; min-width: 310px; max-width: 600px; margin: 0 auto"></div>
<script src="{{ "/assets/js/map.js" | prepend: site.baseurl }}"></script>