#blog-particles {
    background: $main;
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .particles-js-canvas-el {
      width:100% !important;
      height:50vh !important;
    }
}
