<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://code.highcharts.com/maps/highmaps.js"></script>
      <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
      <script src="https://code.highcharts.com/mapdata/custom/world-robinson-highres.js"></script>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
      <section id="travel-log">
        {% include travel-log.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
